# Azure Document Intelligence
AZURE_DOC_INTELLIGENCE_ENDPOINT=https://<your-doc-intelligence-resource>.cognitiveservices.azure.com/
AZURE_DOC_INTELLIGENCE_KEY=<your-doc-intelligence-key>

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://<your-aoai-resource>.openai.azure.com/
AZURE_OPENAI_KEY=<your-aoai-key>
AZURE_OPENAI_DEPLOYMENT=<your-model-deployment-name>
AZURE_OPENAI_API_VERSION=2024-02-15-preview

# Optional
PRINTIQ_USE_AOAI=true
PRINTIQ_MASK_PII=true

PRINTIQ_USE_V4_PIPELINE=true
